<div ng-controller="AddcoffeeCtrl">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Ajouter un Coffee</span><br />
			<form name="addCoffeeForm" ng-submit="addCoffee()">
				<div class="row">
				  <div class="input-field col s12 m6">
				    <input id="name" type="text" required ng-model="name">
				    <label for="name">Nom</label>
				  </div>
				  <div class="input-field col s12 m6">
				    <input id="city" type="text" required ng-model="city">
				    <label for="city">Ville</label>
				  </div>
				</div>
				<div class="row">
				   <div class="input-field col s6">
				      <input type="submit" class="btn deep-orange" value="S'inscrire"/>
				   </div>
				</div>
			</form>
		</div>
	</div>
	<div ng-include="'./views/loader.html'" class="center" ng-show="loading">
	</div>
	<div ng-include="'./views/error.html'" ng-show="error">
	</div>
	<div class="card">
		<div class="card-content">
			<ul class="collection">
				<li class="collection-item" ng-repeat="coffee in list">
					<span class="card-title">{{coffee.id}} {{coffee.name}}</span><br />
					{{coffee.city}}
				</li>
			</ul>
		</div>
	        
	</div>
</div>