<div class="card" ng-controller="SignupCtrl">
  <div class="card-content">
    <div class="row"> 
       <div class="col s12 center">
          <h2>S'inscrire</h2>
       </div>
       <form class="col s12" name="registerForm" ng-submit="addUser()">

          <div class="row">
            <div class="input-field col s12 m6">
              <input id="username" type="text" name="username" ng-model="username" required ng-class="{'invalid': registerForm.$dirty && registerForm.username.$invalid, 'valid': registerForm.username.$valid}" ng-minlength="6">
              <label for="username">Identifiant</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="email" type="email" name="email" ng-model="email" required ng-class="{'invalid': registerForm.$dirty && registerForm.email.$invalid, 'valid': registerForm.email.$valid}">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" ng-model="password" ng-minlength="6" required ng-class="{'invalid': registerForm.$dirty && registerForm.password.$invalid, 'valid': registerForm.password.$valid}">
              <label for="password">Mot de passe</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="passwordConfirm" name="passwordConfirm" equals-to="registerForm.password" type="password" ng-model="passwordConfirm" required ng-class="{'invalid': registerForm.$dirty && registerForm.passwordConfirm.$invalid, 'valid': registerForm.passwordConfirm.$valid}">
              <label for="passwordConfirm">Confirmation du mot de passe</label>
            </div>
          </div>
          <div class="row">
             <div class="input-field col s6">
                <input type="submit" class="btn deep-orange" value="S'inscrire" ng-disabled="registerForm.$invalid"/>
             </div>
          </div>
       </form>
    </div>
  </div>
</div>
